.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 150%;
  margin: 0 auto;
  height: calc(100% - 50px);
  border: var(--border);
  border-radius: 5px;
  background: var(--msger-bg);
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
  margin-top: -50px;
}
