.container {
  overflow: scroll;
  display: flex;
  width: 50vw;
  height: 84vh;
  flex-direction: column;
  align-items: center;
  background-color: rgb(250, 250, 250);
  align-items: flex-end;
  color: white;
}
